<app-menus></app-menus>

<div class="container">
<router-outlet></router-outlet>

</div>

<!--<app-rating (onRating)="handelRating($event)"></app-rating> 

<div>
  <input type="text" (input)="title =getValue($event)" />
</div>
<div>
  <input type="checkbox" checked (change)="display = !display" /> Display
</div>



<app-life-cycle-test *ngIf="display " [title]="title"></app-life-cycle-test>

<input type="file" style="display: none;" #uploader />
   <p>HBC</p>
<div>
  {{title}}
</div>   
<div>
  The sum of 2 and 2 is {{2+2}}
</div>
<div>
  The double of 3 is {{duplicateNumber(3)}}
</div>

<button (click)="uploader.click()">Load File</button>

-->

 
